# build artifacts
/build
/dist
/*.egg-info
*.egg-info/
/.eggs

# test and local dev artifacts
/.pytest_cache
/.coverage
htmlcov/
.tox/
/.idea
.DS_Store
__pycache__/
*.pyc
__pycache__/
*.pyo

# local environment
.env
.venv/
venv/

# logs
*.log

# type checking
.mypy_cache/
